/* General styling */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Ensure content is centered even if page height is smaller */
  flex-direction: column;
}

/* Page setup for A4 size */
@page {
  size: A4;
  margin: 0;
}

/* Page styling */
.page {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  page-break-after: always; /* Start a new page after each .page element */
  margin-bottom: 30mm;
  padding-bottom: 30mm;
}

/* Avoid starting a new page after the last .page element */
.page:last-child {
  page-break-after: auto;
}