<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="jquery-3.6.1.min.js"></script>
    <script src="{{ url_for('static', filename='table.js') }}"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Windows 10 Automated Audit Program</title>
    <!-- Include Plotly.js library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div id="header">
      <div id="text">
        <div id="text">
          <div class="line">
            <p class="word fancy" id="windows">Windows 10</p>
            <p class="word fancy" id="automated">Automated</p>
            <p class="word fancy" id="audit">Audit</p>
          </div>
          <script src="{{ url_for('static', filename='header.js') }}"></script>
        </div>
      </div>
    </div>

    <!-- Embed the Plotly chart -->
    <div id="chart">{{ chart_html | safe }}</div>
    <div>
      <h4>Filter by:</h4>
      <a href="/section"><button>section</button></a>
    </div>
    <div class="table-wrapper">
      <table class="fl-table" aria-describedby="table">
        <thead>
          <tr>
            <th>Index</th>
            <th>Title</th>
            <th>Details</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.1.1</td>
            <td>Ensure 'Enforce password history' is set to '24 or more password(s)'in windows 11</td>
            <td>The longer a user uses the same password, the greater the chance that an attacker can determine the password through brute force attacks.</td>
            <td>Success</td>
          </tr>
          <tr>
            <td>1.1.2</td>
            <td>Ensure 'Minimum password age' is set to '1 or more day(s)'</td>
            <td>Users may have favorite passwords that they like to use because they are easy to remember and they believe that their password choice is secure from compromise.</td>
            <td>Failure</td>
          </tr>
          <tr>
            <td>1.1.4</td>
            <td>Ensure 'Minimum password length' is set to '14 or more character(s)'</td>
            <td>Password Policy settings (section 1.1) and Account Lockout Policy settings (section 1.2) must be applied via the Default Domain Policy GPO in order to be globally in effect on domain user accounts as their default behavior.</td>
            <td>Success</td>
          </tr>
          <tr>
            <td>1.1.2</td>
            <td>Ensure 'Maximum password age' is set to '365 or fewer days, but not 0'</td>
            <td>The longer a password exists the higher the likelihood that it will be compromised by a brute force attack, by an attacker gaining general knowledge about the user.</td>
            <td>Fail</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
